{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]]
 :builds
 {:remotion
  {:target :esm             ;; Changed from :browser to :esm
   :output-dir "public/js"
   :modules
   {:main
    {:exports
     {:init my-video.core/init
      :get_root my-video.core/get-root}}}}}} ;; No :init-fn needed here
