{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]]
 :builds
 {:remotion
  {:target :esm
   :output-dir "public/js"
   :modules {:main {:exports {:init my-video.core/init
                              :get_root my-video.core/get_root}}}
   ;; Simplified resolve map
   :js-options {:resolve {"react" :npm
                          "react-dom" :npm}}}}}




